:root {
    --page-header-bgColor: #242e42;
    --page-header-bgColor-hover: #1d2636;
    --page-header-txtColor: #dde9f8;
    --page-header-headingColor: #7889a4;
    --page-header-width: 220px;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --red: #ec1848;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  }
   
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  ul {
    list-style: none;
  }
   
  a,
  button {
    color: inherit;
  }
   
  a {
    text-decoration: none;
  }
   
  button {
    background: none;
    cursor: pointer;
  }
   
  input {
    -webkit-appearance: none;
  }
   
  button,
  input {
    border: none;
  }


.dashcon{
   display: flex;

  }
  .dashcon ul{
    background-color: lawngreen;
  }
  .dashcon ul li{
    margin: 2px;
    color: indigo;
  }
  .admin-menu{
      margin-right: 150px;
      margin-left: 50px;
      background-color: #333;
      width: 300px;padding: 40px;
  }

  .admin-menu li{
      padding: 5px;
      font-size: 30px;
      color: aquamarine;
  }


  .page-content {
    position: relative;
    left: var(--page-header-width);
    width: calc(100% - var(--page-header-width));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
  }
  .page-content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
   
  .page-content .grid > article {
    display: flex;
    height: 500px;
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }
   
  .page-content .grid > article:first-child,
  .page-content .grid > article:last-child {
    grid-column: 1 / -1;
  }

  .hero{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
  }


  .products {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .products td, .products th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .products tr:nth-child(even){background-color: #f2f2f2;}
  
  .products tr:hover {background-color: #ddd;}
  
  .products th {
   padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .tb_image{
    height: 50px;
    width: 50px;
  }

  .bt {
    display: inline-block;
    background: black;
    color: white;
    padding: 0.4rem 1.3rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }


  .order_details{
    width: 80%;
    margin: auto;
  }
